/* CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* Ensure the elements are initially hidden */
  animation: fadeIn 1s forwards; /* Apply the fade-in animation */
}

/* Optionally, you can control the duration and delay for a smoother effect */
.fade-in[data-delay] {
  animation-delay: var(--delay);
}

.fade-in[data-duration] {
  animation-duration: var(--duration);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

/*header starts */
header {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #f975ee 0%, #2b97eb 100%);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .logo {  
  text-decoration: none;
  padding-left: 70px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  transition: color 0.7s;
}

header nav .logo:hover {
  animation: fadeInUp 0.5s ease-in-out;
  color: #0d0d9e94;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 800;
  transition: color 0.3s, transform 0.3s;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #1039cc;
  transform: scale(2.1);
}
/*header over */

.fullscreen {
  height: 100%;
}
/* home start */

.home { 
  height: 100vh;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

.home .content {
  margin-top: 10%;  
  margin-left: 10%;
}

.home .content h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 5%;
}

.home .content p {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
}



.home .content .social-icons
{
  margin-top: 40px;
  font-size: 45px;
}

.home .content .social-icons a
{ 
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
  cursor: pointer;
}

/* home ends */

/* about start */
.about {
  height: 100%;
  padding-top: 2%;  
}

.about .title {   
  display: flex;
  justify-content: center;
}

.about .title h2 {
}

.about .title span {
  font-size: 30px;
  padding-top: 3px;
  padding-left: 10px;
  color: #51cbff;
}

.about .fa-solid {
  font-size: 30px;
  padding-right: 10px;
  padding-top: 7px;
}

.about .content {
  display: flex;
  margin-left: 5%;
  padding-top: 5rem;
  align-items: center;
}

.about .content .image img {
  width: 400px;
  height: 500px;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}


.about .content h2 {
  margin-left: 10%;
  padding-bottom: 10px;
}
.about .content p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #000000;
  margin-left: 10%;
}

/* about ends */

/* education starts*/
.education {
  height: 100%;
  padding-top: 5%;
}
.education .title {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 45%;
}
.education i {
  font-size: 35px;
  padding-right: 10px;
}
.education .title h2 {
  font-size: 35px;
  color: #51cbff;
}

.education .education-item { 
  display: flex;
  margin: auto;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 10vh;
  overflow: hidden;
  transition: 2s;
}

.education .education-item img {
  width: 300px;
  height: 170px;
}

.education .education-item .education-item-content h2 {
  margin-left: 20vh;
  margin-top: 15px;
  display: block;
}
.education .education-item .education-item-content h3 {
  text-align: center;
}

.education .education-item-content-diploma h2 {
  margin-left: 30vh;
  margin-top: 15px;
  display: block;
}

.education .education-item-content-diploma h3 {
  text-align: center;
  margin-left: 30vh;
}

.education .education-item-content-secondary h2 {
  margin-left: 38vh;
  margin-top: 15px;
  display: block;
}

.education .education-item-content-secondary h3 {
  text-align: center;
  margin-left: 38vh;
}

/* education ends */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
