* 
{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}
header {
  padding: 1rem 0;
  position: sticky;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav  .logo {  
  text-decoration: none;
  padding:0 2.5rem;
  color: #ff2600;
  font-size: 1.5rem;
  font-weight: 800;
  transition: color 0.7s;
}

header   nav .logo:hover {
  text-decoration: underline;
  color: #dfc60794;
  font-size: 1.52rem;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #20538aad;
  font-weight: 500;
  transition: color 0.3s, transform 0.3s;
}
header nav ul li a:hover {
  color: #ff6347;
  transform: scale(2.1);
}